<mat-toolbar class="fondo" oncontextmenu="return false;">
    <mat-toolbar-row style="color: rgba(40, 57, 101, 0.9);">
        {{nombres}} {{apellidos}} - No. {{no_cuenta}}
        <span class="example-spacer"></span>
        <button *ngFor="let panel of paneles" mat-icon-button [matTooltip]="panel.descripcion" [routerLink]="panel.ruta">
            <mat-icon>{{panel.icono}}</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Cerrar sesión" [routerLink]="'/'">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>